<body>
    <div class=" tm-container">
      <div class="tm-col-left">
        <div class="tm-site-header media">
          <div class="logo">
            <div><img src="assets/images/logo1.jpg"class="tm-col-left" height="100"></div> 
            </div>
            </div>
            </div>
            </div>
  

<div class="container">

    <h1 style="text-align: center; margin-top: 5%;">KERALA TOURISM</h1>
    
  <div><p style="color: black; margin-top: 5%;" class="kerala">Kerala, a state situated on the tropical Malabar Coast of southwestern India, is one of the most popular tourist destinations in the country. Named as one of the ten paradises of the world by National Geographic Traveler, Kerala is famous especially for its ecotourism initiatives and beautiful backwaters.Kerala is a popular state located on the southwestern, Malabar Coast of India. As per the state geographical area, Kerala is the twenty second largest Indian state by area. It is surrounded by Karnataka to the north and northeast, Tamil Nadu to the east and south, and Lakshadweep Sea and Arabian Sea to the West. The state is divided into fourteen districts with the capital being Thiruvananthapuram. The local regional language of the state Malayalam is the most widely spoken language and is also the official language of the state.
    With its ideal location, Kerala is fast becoming one of the top tourist destinations in the world. Breaking its long-standing identity as slow-paced destination, Kerala Tourism repackages God’s own country as the perfect playground to acquire new and composite experiences. From high mountains and deep-cut valleys to sunny tropical beaches and placid backwaters, Kerala’s 38,863 square kilometer holds within itself a variety of landscapes that differ in settings and flavor, each one of them offering an opportunity to relish the outdoors. Several eco-friendlies, sustainable initiatives would constitute the high spot.</p></div>
  </div> 

