<div class="container">
  <div class="row">
    @for( item of district ; track item.id){
      <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="{{ item.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{item.title}}</h5>
              <p class="card-text">{{item.discription | slice :0:300}}</p>
              <a href="{{item.wiki}}" class="btn btn-primary">Go More</a>
            </div>
            </div>
            </div>
          }
  </div>
</div>